<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^([0-9A-Za-z]+).php$ index.php?page=$1
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
